MEMPOOL_URL=https://mempool0713bb23.devnet-annapurna.stratabtc.org/
BLOCKSCOUT_URL=https://blockscoutb86fae58ae.devnet-annapurna.stratabtc.org/
STRATA_DOCS="https://docs.stratabtc.com"
STRATA_BLOG="https://www.stratabtc.org/blog"
APP_STRATA_FULLNODE="http://fnclient675f9eff3a682b8c0ea7423.devnet-annapurna.stratabtc.org/"
