.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--strata-sand-med);
    margin-bottom: 20px;
}

.searchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    background-color: var(--strata-terracotta-med);
}


.searchBox {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.searchInput {
    flex-grow: 1;
    padding: 10px 15px;
    margin: 0px 10px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    min-width: 150px;
    background-color: var(--strata-sand-light);
    color: grey;
    /* Prevents the input from collapsing */
}

.searchInput:focus {
    outline: none;
}

.error-message {
    color: var(--strata-sand-med);
    /* font-weight: bold; */
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    white-space: nowrap;
    display: none;
}

.error-message.visible {
    display: block;
}