.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* prevent color change on hover of title */
.title:hover {
    color: black;
}

/* Search Section */
.searchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 50px;
    background-color: white;
}


.searchBox {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.searchInput {
    flex-grow: 1;
    padding: 10px 15px;
    margin: 0px 10px;
    border: 0.5px solid #718096;
    border-radius: 7px;
    box-shadow: 0px 4px 11px 0px #00000014;
    font-size: 1rem;
    min-width: 120px;
    background-color: white;
    color: grey;
    /* Prevents the input from collapsing */
}

.searchInput:focus {
    outline: none;
}

.errorMessage {
    color: black;
    text-align: center;
    position: absolute;
    top: calc(100% + 5px);
    /* Ensure it does not overlap */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    /* Prevent collapsing */
    min-width: 200px;
    /* Ensure it has a proper size */
    white-space: nowrap;
    display: none;
}

.visible {
    display: block !important;
    visibility: visible;
}

@media (max-width: 300px) {
    .title {
        visibility: hidden;
    }
}