/* Table  */
.table {
    border-collapse: collapse;
    width: 100%;
}

.tableHeader {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ECECEC;
}

.tableRowItems:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
}

.tableCell {
    padding: 10px;
    font-size: 14px;
    color: black;
}
