/* Table  */
.table {
    border-collapse: collapse;
    width: 100%;
    /* background-color: white; */
}

.tableRowHeader {
    color: black;
    border-bottom: 1px solid grey;
}

.tableHeader {
    padding: 10px;
    text-align: left;
}

.tableRowItems {
    border-bottom: 1px solid grey;
}

.tableCell {
    padding: 10px;
    font-size: 14px;
    color: black;
}