/* Table  */
.table {
    border-collapse: collapse;
    width: 100%;
    /* background-color: white; */
}

.tableRowHeader {
    /* background-color: #DF896D; */
    /* color: rgb(44, 43, 43); */
    /* font-weight: bold; */
    /* border-radius: 10px; */
    color: var(--strata-terracotta-med);
    border-bottom: 1px solid grey;
}

.tableHeader {
    padding: 10px;
    text-align: left;
}

.tableRowItems {
    border-bottom: 1px solid grey;
}

.tableCell {
    padding: 10px;
    font-size: 14px;
    color: var(--strata-terracotta-med);
}