{% extends "base.html" %}

{% block content %}

  <!-- Wrapper Section -->
  <div class="wrapper">
    <table class="table">
      <thead class="tableRowHeader">
        <tr>
          <th class="tableHeader">Batch TXID</th>
          <th class="tableHeader">Epoch index</th>
          <th class="tableHeader">Status</th>
          <th class="tableHeader">Signet start block</th>
          <th class="tableHeader">Signet end block</th>
          <th class="tableHeader">Strata start block</th>
          <th class="tableHeader">Strata end block</th>
        </tr>
      </thead>
      <tbody>
        {% for checkpoint in pagination.items %}
        <tr class="tableRowItems">
          <!-- Batch TXID -->
          <td class="tableCell">
            <a href="{{env.mempool_url }}tx/{{checkpoint.batch_txid}}" target="_blank" rel="noreferrer">
              {{ checkpoint.batch_txid }}
            </a>
          </td>
      
          <!-- Epoch index -->
          <td class="tableCell">
            <a href="/checkpoint?p={{ checkpoint.idx }}" target="_blank" rel="noreferrer">
              {{ checkpoint.idx }}
            </a>
          </td>
      
          <!-- Status -->
          <td class="tableCell">
            {{ checkpoint.status }}
          </td>
      
          <!-- Signet start block -->
          <td class="tableCell">
            <a href="{{ env.mempool_url }}/block/{{ checkpoint.l1_range[0] }}" target="_blank" rel="noreferrer">
              {{  checkpoint.l1_range[0] }}
            </a>
          </td>
      
          <!-- Signet end block -->
          <td class="tableCell">
            <a href="{{ env.mempool_url }}/block/{{  checkpoint.l1_range[1] }}" target="_blank" rel="noreferrer">
              {{  checkpoint.l1_range[1] }}
            </a>
          </td>
      
          <!-- Strata start block -->
          <td class="tableCell">
            <a href="{{ env.blockscout_url }}/block/{{ checkpoint.l2_range[0] }}" target="_blank" rel="noreferrer">
              {{ checkpoint.l2_range[0] }}
            </a>
          </td>
      
          <!-- Strata end block -->
          <td class="tableCell">
            <a href="{{ env.blockscout_url }}/block/{{ checkpoint.l2_range[1] }}" target="_blank" rel="noreferrer">
              {{ checkpoint.l2_range[1] }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Include Pagination -->
    {% include "pagination.html"%}
  </div>
{% endblock %}