{% extends "base.html" %}
{% block content %}
<div id="dynamicContent">
    <div class="checkpoint-container">
    {% if pagination.items|length > 0 %}
        {% set checkpoint = pagination.items[0] %}
        <div class="checkpoint-row">
            <span class="checkpoint-label">Batch TXID:</span>
            <span class="checkpoint-value">{{ checkpoint.batch_txid }}</span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Epoch index:</span>
            <span class="checkpoint-value">{{ checkpoint.idx }}</span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Status:</span>
            <span class="checkpoint-value">{{ checkpoint.status }}</span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Signet start block:</span>
            <span class="checkpoint-value">
                <a 
                  href="{{env.mempool_url}}block/{{ checkpoint.l1_range[0] }}" 
                  target="_blank" 
                  rel="noreferrer"
                >
                    {{ checkpoint.l1_range[0] }}
                </a>
            </span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Signet end block:</span>
            <span class="checkpoint-value">
                <a 
                  href="{{env.mempool_url}}block/{{ checkpoint.l1_range[1] }}" 
                  target="_blank" 
                  rel="noreferrer"
                >
                    {{ checkpoint.l1_range[1] }}
                </a>
            </span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Strata start block:</span>
            <span class="checkpoint-value">
                <a 
                  href="{{env.blockscout_url}}block/{{ checkpoint.l2_range[0] }}" 
                  target="_blank" 
                  rel="noreferrer"
                >
                    {{ checkpoint.l2_range[0] }}
                </a>
            </span>
        </div>
        <div class="checkpoint-row">
            <span class="checkpoint-label">Strata end block:</span>
            <span class="checkpoint-value">
                <a 
                  href="{{env.blockscout_url}}block/{{ checkpoint.l2_range[1] }}" 
                  target="_blank" 
                  rel="noreferrer"
                >
                    {{ checkpoint.l2_range[1] }}
                </a>
            </span>
        </div>
    {% else %}
        <div class="checkpoint-row">
            <span class="checkpoint-label">Error:</span>
            <span class="checkpoint-value">No checkpoint data available</span>
        </div>
    {% endif %}
    <!-- Include the pagination bar -->
    {% include "pagination.html"  %}
    </div>
</div>
{% endblock %}