<div class="pagination">
    <!-- First Page Button -->
    <button
        class="pageButton arrow {% if pagination.current_page == pagination.absolute_first_page %}disabled{% endif %}"
        data-page="{{ pagination.absolute_first_page }}"
        {% if pagination.current_page == pagination.absolute_first_page %}disabled{% endif %}
    >
        «
    </button>

    <!-- Previous Page Button -->
    <button
        class="pageButton arrow {% if pagination.current_page == pagination.absolute_first_page %}disabled{% endif %}"
        data-page="{{ pagination.current_page - 1 }}"
        {% if pagination.current_page == pagination.absolute_first_page %}disabled{% endif %}
    >
        ‹
    </button>

    <!-- Current Page Editable Input -->
    <input
    class="pageInput"
    value="{{ pagination.current_page }}"
    data-total-pages="{{ pagination.total_pages }}"
    placeholder="Enter"
/>

    <!-- Next Page Button -->
    <button
        class="pageButton arrow {% if pagination.current_page == pagination.total_pages %}disabled{% endif %}"
        data-page="{{ pagination.current_page + 1 }}"
        {% if pagination.current_page == pagination.total_pages %}disabled{% endif %}
    >
        ›
    </button>

    <!-- Last Page Button -->
    <button
        class="pageButton arrow {% if pagination.current_page == pagination.total_pages %}disabled{% endif %}"
        data-page="{{ pagination.total_pages }}"
        {% if pagination.current_page == pagination.total_pages %}disabled{% endif %}
    >
        »
    </button>

    <div class="pageInfo">
        {{ pagination.current_page }} of {{ pagination.total_pages }}
    </div>
</div>